body {
    background-color: black;
    position: justify;    
    color:white;
    display: flex;
    flex-direction: column;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    text-align: center;
    min-height: 100px;
    margin: auto;
    font-family: monospace;

    /* justify-content: space-between; */
    /* cursor: pointer; */
}

a {
    /* font-family: 'Teko', sans-serif; */
    color: rgba(241, 238, 238, 0.74);
    /* text-transform: capitalize; */
}

